@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dancing+Script&family=Indie+Flower&family=Merriweather:ital@1&family=Sansita+Swashed&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(rgba(17, 22, 34, 0.75), rgba(18, 23, 34, 0.75)), url(imagenes/fondostar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Shadows Into Light', cursive;

}

.logo{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.logo img{
    height: 200px;
}

.filtro{
    display: none;
}
